/* font from - https://www.fontspace.com/super-larky-font-f116102 */
@font-face {
  font-family: "super-larky";
  src: url("/fonts/SuperLarky-nALLR.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.notification-avatar {
  width: 50px;
  height: 50px;
}

.header-greet-avatar {
  width: 75px;
  height: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row: repeat(4, 1fr);
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
}

header {
  background-color: #ffffff;
  grid-column: 2 / -1;
  padding: 10px;
}

.header-notification-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-search-section {
  align-content: center;
}

header p {
  align-self: center;
}

.header-top {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}

.header-bottom {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.search-bar {
  width: 500px;
  height: 20px;
  background-color: lightgray;
  border-style: none;
  border-radius: 50px;
}

.icon {
  vertical-align: middle;
}
main {
  background-color: #e2e8f0;
  border: 1px solid black;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-section-title {
  grid-column: 1 / -1;
}

.project-item {
  background-color: #ffffff;
}

.announcement-section {
}

.trending-section {
  grid-column: 7 / -1;
}

.trending-avatar {
  width: 50px;
  height: 50px;
}
