/* font from - https://www.fontspace.com/super-larky-font-f116102 */
@font-face {
  font-family: "super-larky";
  src: url("/fonts/SuperLarky-nALLR.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.notification-avatar {
  width: 50px;
  height: 50px;
}

.header-greet-avatar {
  width: 75px;
  height: 75px;
}

.trending-avatar {
  width: 50px;
  height: 50px;
}

.icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr;
  background-color: lightgray;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.search-bar {
  border-style: none;
  background-color: lightgray;
  height: 25px;
  width: 600px;
  border-radius: 50px;
}

.header-top-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.header-bottom-left {
  display: flex;
}

.header-bottom-right ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  list-style-type: none;
  padding-top: 20px;
}

.header-bottom-right ul button {
  width: 100px;
  height: 40px;
  border-style: none;
  border-radius: 50px;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "content info"
    "content info";
  grid-template-columns: 2fr 1fr;
  margin: 25px;
  gap: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
}

.project-section {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 26px 1fr 1fr;
  gap: 10px;
}

.project-section-title {
  grid-column: 1 / -1;
  font-weight: bold;
  font-size: 18px;
}

.announcement-section-title {
  grid-column: 1 / -1;
  font-weight: bold;
  font-size: 18px;
}

.trending-section-title {
  grid-column: 1 / -1;
  font-weight: bold;
  font-size: 18px;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 10px solid gold;
  border-radius: 5px;
}

.project-icon-section ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  list-style-type: none;
  padding-right: 10px;
}

.info-section {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.announcement-section {
}

.announcements {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}

.trending-section {

}

.trending {
  background-color: #fff;
}

.whats-trending {
  display: flex;
}
/* .grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.5fr 4fr;
}

.header {
  grid-area: header;
  box-shadow: 6px 8px 5px rgba(0, 0, 0, 0.1);
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-search-section {
}

.search-bar {
  background-color: lightgray;
  border-style: none;
  width: 500px;
  height: 40px;
  border-radius: 20px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-greet {
  display: flex;
  gap: 10px;
}

.header-greet-text {
  align-self: flex-end;
  font-weight: bold;
}

.header-buttons ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.header-buttons button {
  height: 35px;
  width: 90px;
  background-color: blueviolet;
  border-style: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.header-notification-section {
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
} */;
